<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="green.mappers.saveMapper">
 
   <insert id="saveMyRoutine">
	insert into `hellchang_schema_test`.`myRoutine` values 
	 (#{id}, #{name}, #{target}, #{kg}, #{rep}, sysdate())
  </insert>  
  
  <select id="selectOne" resultType="vo.SaveVO">
  	select * from `hellchang_schema_test`.`myRoutine` where id=#{id} and date = #{date}
  </select> 
  
  <select id="selectList" resultType="vo.SaveVO">
	select id,name,target,kg,rep from `hellchang_schema_test`.`myRoutine` where id=#{id} and date = #{date}
  </select> 
  
  <select id="allList" resultType="vo.SaveVO">
	select id,name,target,kg,rep,title,date from `hellchang_schema_test`.`myRoutine` where title = #{title}
  </select> 
   
  <select id="blogTest" resultType="vo.SaveVO"> 
	select myRoutine.* ,member.name from hellchang_schema_test.myRoutine , hellchang_schema_test.member where shared = 'true' and myRoutine.id = member.id  order by myRoutine.id,myRoutine.title ;
  </select>
  
 </mapper>
